@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,700&family=Rampart+One&display=swap");

/* .head {
  display: flex;
} */
.firstParagraph {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

p.paragraphShow {
  margin: 0;
}
h1 {
  font-family: "Rampart One", cursive;
}

.firstRow {
  display: flex;
  justify-content: space-between;
  flex-basis: auto;
  align-items: center;
}
.secondeRow {
  text-align: center;
}
.secondeRow img {
  width: auto;
  height: auto;
}
@media (max-width: 900px) {
  .secondeRow img {
    width: 300px;
  }
}

.secondeRow a {
  width: 50px;
  height: 50px;
  background-color: #ffded6;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  font-size: larger;
  padding-top: 8px;
  font-weight: 900;
}
.secondLink {
  background-color: #f74639 !important;
}
.thirdLink {
  background-color: #d56638 !important;
}
.forthLink {
  background-color: #003811 !important;
}
.fifthLink {
  background-color: #2a2b2a !important;
}

.circleLinks {
  display: flex;
  gap: 3%;
  padding: 10px;
  justify-content: center;
}
.arrow {
  font-size: 2rem;
  color: #d56638;
  text-align: center;
  margin: 5% 0;
}

.lastRow {
  background-color: #003811;
  padding: 3% 0;
}
.lastRow h2 {
  color: #ffded6;
  font-size: 2rem;
}
.lastRow p {
  color: #ffffff;
  font-size: 1.2rem;
}

#inputGroup-sizing-lg {
  background-color: #ffded6;
}
#inputGroup-sizing-lg :hover {
  background-color: #571a0a;
}
