.container .aboutUsIcons a:hover {
  text-decoration: none;
}

div.show-image {
  position: relative;
  float: left;
  margin: 5px;
}

div.show-image:hover img {
  /* background-color: rgba(230, 78, 62, 0.9); */
  opacity: 0.75;
}

div.show-image:hover nav {
  display: block;
}

div.show-image nav {
  position: absolute;
  display: none;
}

div.show-image nav.aboutUsIcons {
  bottom: 0;
  left: 0;
}
