/* @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

.imgesss {
  background-image: url("https://i.pinimg.com/originals/90/3f/3c/903f3c6c6152a03d598c5da989ea5a36.gif");
  height: 300px;
}

.head {
  font-family: "Caveat", cursive;
} */
